
  <mat-dialog-content>
    <div class="confirm-popup-container">
        <h5 class="fw-400 text-center">Are you sure you want to delete the data?</h5>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button
      (click)="dialogRef.close(false)"
      mat-button
      color="warn"
      [disabled]="confirmPopupLoader"
    >
      No
    </button>
    <button
      (click)="deletestudent()"
      mat-button
      color="primary"
      [disabled]="confirmPopupLoader"
    >
      Yes
    </button>
  </mat-dialog-actions>
  