@import "/src/styles/colors";
.homepage-container {
  height: 100%;
  overflow-y: scroll;
  padding: 1rem;
  .data-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    .action-section {
      width: 80%;
      form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .form-control {
          flex: 2;
          margin: 0 1rem;
        }
        button {
          flex: 1;
          height: 3.5rem;
          margin: 0 1rem 1.1rem;
          position: relative;
        }
      }
    }

    .add-new-student-section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      h3 {
        color: $white;
        margin: 1rem 0;
      }
      button {
        font-size: 1.5rem;
        margin-bottom: 0.7rem;
      }
    }

    .table-section {
      width: 80%;
      background-color: $white;
      height: 0;
      border-radius: 0.5rem;
      overflow: hidden;
      .add-new-student-section {
        display: flex;
        justify-content: flex-end;
        .btn-2 {
          text-decoration: none;
          padding: 0.5rem;
          margin-right: 3rem;
        }
      }
    }
    .full-height {
      height: 70vh;
      transition: 0.4s;
    }
  }
}

@media (max-width: 992px) {
  .action-section {
    width: 95% !important;
    form {
      flex-direction: column;
      button {
        width: 11rem !important;
      }
    }
  }
  .table-section {
    width: 95% !important;
  }
}
