<div class="homepage-container">
  <div class="data-section">
    <div class="action-section">
      <form [formGroup]="getDataForm">
        <div class="form-control">
          <mat-form-field>
            <mat-label>Stage</mat-label>
            <mat-select formControlName="stage" (selectionChange)="setYear()">
              <mat-option *ngFor="let item of stageData" [value]="item">{{
                item
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-control">
          <mat-form-field>
            <mat-label>Year</mat-label>
            <mat-select formControlName="year" (selectionChange)="setClass()">
              <mat-option *ngFor="let item of yearData" [value]="item">{{
                item
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-control">
          <mat-form-field>
            <mat-label>Class</mat-label>
            <mat-select formControlName="classname">
              <mat-select-trigger>
                <ng-container *ngIf="classListLoader; else dataTemplate">
                  <mat-spinner diameter="16"></mat-spinner>
                </ng-container>
                <ng-template #dataTemplate>
                  {{ this.getDataForm.controls["classname"].value }}
                </ng-template>
              </mat-select-trigger>
              <mat-option *ngFor="let item of classData" [value]="item">{{
                item
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button
          [disabled]="studentDataLoader || classListLoader"
          class="btn-1"
          (click)="getStudentsData()"
        >
          <div class="btn-spinner-container" *ngIf="studentDataLoader">
            <mat-spinner diameter="22"></mat-spinner>
          </div>
          Get Data
        </button>
      </form>
    </div>

    <div class="add-new-student-section" *ngIf="this.showDataSection">
      <h3 *ngIf="!studentListData.length">No records found</h3>
      <button (click)="openCreateStudentDialog()" class="btn-2">
        Add new student
      </button>
    </div>

    <div
      class="table-section"
      [ngClass]="studentListData.length ? 'full-height' : ''"
    >
      <app-student-table [dataSource]="studentListData" (studentDataChangeEmitter)="getStudentsData()"></app-student-table>
    </div>
  </div>
</div>
