<div class="text-center" mat-dialog-title>
  <h4 class="popup-title">{{ data.type | titlecase }} student data</h4>
</div>
<mat-dialog-content>
  <div class="create-edit-student-form">
    <form [formGroup]="createEditStudentForm" class="form">
      <div class="form-control">
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input
            type="text"
            matInput
            formControlName="name"
            [errorStateMatcher]="matcher"
          />
          <mat-error
            *ngIf="
              this.createEditStudentForm.controls['name'].hasError('required')
            "
          >
            Name is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-control">
        <mat-form-field class="example-full-width">
          <mat-label>Age</mat-label>
          <input
            type="number"
            matInput
            formControlName="age"
            [errorStateMatcher]="matcher"
          />
          <mat-error
            *ngIf="
              this.createEditStudentForm.controls['age'].hasError('required')
            "
          >
            Age is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-control">
        <mat-form-field class="example-full-width">
          <mat-label>Address</mat-label>
          <input
            type="text"
            matInput
            formControlName="address"
            [errorStateMatcher]="matcher"
          />
          <mat-error
            *ngIf="
              this.createEditStudentForm.controls['address'].hasError(
                'required'
              )
            "
          >
            Address is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-control">
        <mat-form-field class="example-full-width">
          <mat-label>Mark 1</mat-label>
          <input
            type="number"
            matInput
            formControlName="mark1"
            [errorStateMatcher]="matcher"
          />
          <mat-error
            *ngIf="
              this.createEditStudentForm.controls['mark1'].hasError(
                'required'
              )
            "
          >
            Mark 1 is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-control">
        <mat-form-field class="example-full-width">
          <mat-label>Mark 2</mat-label>
          <input
            type="number"
            matInput
            formControlName="mark2"
            [errorStateMatcher]="matcher"
          />
          <mat-error
            *ngIf="
              this.createEditStudentForm.controls['mark2'].hasError(
                'required'
              )
            "
          >
            Mark 2 is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-control">
        <mat-form-field class="example-full-width">
          <mat-label>Mark 3</mat-label>
          <input
            type="number"
            matInput
            formControlName="mark3"
            [errorStateMatcher]="matcher"
          />
          <mat-error
            *ngIf="
              this.createEditStudentForm.controls['mark3'].hasError(
                'required'
              )
            "
          >
            Mark 3 is required
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button [disabled]="createEditStudentLoader" (click)="dialogRef.close(false)" mat-button color="warn">Cancel</button>
  <button [disabled]="createEditStudentLoader" (click)="addEditStudent()" mat-button color="primary" cdkFocusInitial>
    Create
  </button>
</mat-dialog-actions>
