<div class="text-center" mat-dialog-title>
  <h4 class="popup-title">{{ data.type | titlecase }} student data</h4>
</div>
<mat-dialog-content>
  <div class="create-edit-student-form">
    <form [formGroup]="createEditStudentForm" class="form">
      <div class="form-control">
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input
            type="text"
            matInput
            formControlName="name"
            [errorStateMatcher]="matcher"
          />
          <mat-error
            *ngIf="
              this.createEditStudentForm.controls['name'].hasError('required')
            "
          >
            Name is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-control">
        <mat-form-field class="example-full-width">
          <mat-label>Age</mat-label>
          <input
            type="number"
            matInput
            formControlName="age"
            [errorStateMatcher]="matcher"
          />
          <mat-error
            *ngIf="
              this.createEditStudentForm.controls['age'].hasError('required')
            "
          >
            Age is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-control">
        <mat-form-field class="example-full-width">
          <mat-label>Address</mat-label>
          <input
            type="text"
            matInput
            formControlName="address"
            [errorStateMatcher]="matcher"
          />
          <mat-error
            *ngIf="
              this.createEditStudentForm.controls['address'].hasError(
                'required'
              )
            "
          >
            Address is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-control">
        <mat-form-field class="example-full-width">
          <mat-label>Grade of Subject 1</mat-label>
          <input
            type="text"
            class="grade-input"
            maxlength="1"
            matInput
            formControlName="subject1"
            [errorStateMatcher]="matcher"
            appUppercaseOnly
          />
          <mat-error
            *ngIf="
              this.createEditStudentForm.controls['subject1'].hasError(
                'required'
              )
            "
          >
            Grade of Subject 1 is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-control">
        <mat-form-field class="example-full-width">
          <mat-label>Grade of Subject 2</mat-label>
          <input
            type="text"
            class="grade-input"
            maxlength="1"
            matInput
            formControlName="subject2"
            [errorStateMatcher]="matcher"
            appUppercaseOnly
          />
          <mat-error
            *ngIf="
              this.createEditStudentForm.controls['subject2'].hasError(
                'required'
              )
            "
          >
            Grade of Subject 2 is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-control">
        <mat-form-field class="example-full-width">
          <mat-label>Grade of Subject 3</mat-label>
          <input
            type="text"
            class="grade-input"
            maxlength="1"
            matInput
            formControlName="subject3"
            [errorStateMatcher]="matcher"
            appUppercaseOnly
          />
          <mat-error
            *ngIf="
              this.createEditStudentForm.controls['subject3'].hasError(
                'required'
              )
            "
          >
            Grade of Subject 3 is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="image-upload">
        <div class="image-container">
          <img
            [src]="
                this.createEditStudentForm.get('image')?.value
                ? this.createEditStudentForm.get('image')?.value
                : '/assets/images/image-add-line.svg'
            "
            (click)="triggerImageInputClick()"
          />
          <input
            type="file"
            #imageInput
            style="display: none"
            accept=".jpg, .jpeg, .svg"
            (change)="handleImageUpload($event)"
          />
        </div>
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button
    [disabled]="createEditStudentLoader"
    (click)="dialogRef.close(false)"
    mat-button
    color="warn"
  >
    Cancel
  </button>
  <button
    [disabled]="createEditStudentLoader"
    (click)="addOrEditStudent()"
    mat-button
    color="primary"
  >
    {{ data.type === "Create" ? "Create" : "Save" }}
  </button>
</mat-dialog-actions>
