<div class="student-detailed-view-container">
  <div class="student-detailed-view">
    <div class="image-section">
      <img [src]="studentData.image" alt="" />
    </div>
    <div class="data-section">
      <h5 class="text-center fw-400">{{ studentData.name }}</h5>
      <div class="table-section">
        <div class="table-row bg-red-light">
          <div class="name">Student Id</div>
          <div class="value">{{studentData.id}}</div>
        </div>
        <div class="table-row bg-yellow-light">
            <div class="name">Age</div>
            <div class="value">{{ studentData.age }}</div>
          </div>
          <div class="table-row bg-red-light">
            <div class="name">Address</div>
            <div class="value">{{ studentData.address }}</div>
          </div>
          <div class="table-row bg-yellow-light">
            <div class="name">Stage</div>
            <div class="value">{{ studentData.stage }}</div>
          </div>
          <div class="table-row bg-red-light">
            <div class="name">Year</div>
            <div class="value">{{ studentData.year }}</div>
          </div>
          <div class="table-row bg-yellow-light">
            <div class="name">Grade of subject 1</div>
            <div class="value">{{ studentData.subject1 }}</div>
          </div>
          <div class="table-row bg-red-light">
            <div class="name">Grade of subject 2</div>
            <div class="value">{{ studentData.subject2 }}</div>
          </div>
          <div class="table-row bg-yellow-light">
            <div class="name">Grade of subject 3</div>
            <div class="value">{{ studentData.subject3 }}</div>
          </div>
      </div>
    </div>
  </div>
</div>
